<!--
  Generated template for the DaywiseDistancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>daywiseDistance</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="close-circle"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="padding: 0px;">
  <ion-card *ngFor="let d of detailData; let i = index">

    <ion-item style="border-bottom: 2px solid #dedede;">
      <ion-avatar item-start>
        <img src="assets/imgs/car_red_icon.png">
      </ion-avatar>
      <ion-label>{{d.device.Device_Name}}</ion-label>
      <ion-badge item-end color="gpsc">{{ d.date }}</ion-badge>
      <!-- <ion-buttons (click)="daywisedistance();">Details</ion-buttons> -->
      <ion-badge item-end color="gpsc">{{ d.distance | number : '1.0-2'}}</ion-badge>

    </ion-item>
    <ion-card-content>
      <ion-row style="padding-top: 5px;">
        <ion-col col-1>
          <ion-icon ios="ios-pin" md="md-pin" style="color:#33c45c;font-size:15px;"></ion-icon>
        </ion-col>
        <ion-col style="font-size: 0.8em;">
          <div class="overme">
            {{ d.startAddress }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 5px;">
        <ion-col col-1>
          <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;font-size:15px;"></ion-icon>
        </ion-col>
        <ion-col style="font-size: 0.8em;">
          <div class="overme">
            {{ d.endAddress }}
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
