<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Renewal Method" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-grid text-center *ngIf="this.islogin.isSuperAdmin == false">
    <ion-row>
      <ion-col>
        ** For renewal please make the payment on 7507500582 via Gpay/ PhonePe. **
          <!-- <p>Renewal Amount &nbsp;&nbsp; 2400</p> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid text-center *ngIf="this.islogin.isSuperAdmin == true">
    <ion-row>
      <ion-col>
        Yor are in admin mode.
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-card class="welcome-card">
    <img src="assets/imgs/dc-Cover-u0b349upqugfio195s4lpk8144-20190213120303.Medi.jpeg">
    <ion-card-header>

      <ion-card-title>Vehicle Name - {{parameters.Device_Name}}</ion-card-title>
      <ion-row>
        <ion-col>
          Total Payment
        </ion-col>
        <ion-col>
          {{currencyIcon}}{{paymentAmount/100}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>

      <button ion-button full color="gpsc" (click)="payWithRazor()">Pay with RazorPay</button>
    </ion-card-content> -->
  <!-- </ion-card> -->
  <!-- <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://github.com/razorpay/razorpay-cordova">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Razorpay Plugin Documentation</ion-label>
    </ion-item>
    <ion-item href="https://medium.com/enappd/how-to-integrate-razorpay-in-ionic-4-apps-and-pwa-612bb11482d9">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Ionic 4 - Razorpay Integration</ion-label>
    </ion-item>
    <ion-item href="https://store.enappd.com">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>More Ionic 4 Starters</ion-label>
    </ion-item>
  </ion-list> -->

  <!-- <div style="padding: 0% 10% 0% 10%;">

    <h4 style="font-size: 1.8rem;letter-spacing: 2px;color: #777575;">{{ "Paytm" | translate }}</h4>
    <ion-item style="padding-left: 0px;">
      <ion-input [disabled]='inputform' [(ngModel)]="paytmnumber" type="number" placeholder="Mobile Number*">
      </ion-input>
    </ion-item>
    <p style="color:grey">{{ "Linking wallet is one time process. Next time, checkout will be a breeze!" | translate }}
    </p>
  </div>
  <button [disabled]='inputform' ion-button full color="gpsc"
    style="height: 35px;width: 45%;margin-left: 30%;font-size: 15px;color: white;margin-top: 15px;color: rgb(255, 255, 255);"
    (click)="paytmwallet()">{{ "Continue" | translate }}</button>
  <ion-row style="padding: 2% 10% 0% 10%;" *ngIf="successresponse">
    <h4 style="font-size: 1.8rem;letter-spacing: 2px;color: #777575;">{{ "Enter verification code" | translate }}</h4>
    <p style="margin-top: 0px;color: grey;margin-bottom: 0;">{{ "Paytm has send verification code on" | translate }}
      {{paytmnumber}} {{ "via sms Please enter it below, and you are done!" | translate }}</p>
    <ion-item style="padding: 0px;">
      <ion-input [(ngModel)]="paytmotp" type="number" placeholder="Enter OTP"></ion-input>
    </ion-item>
    <ion-col col-sm-6>
      <button ion-button full
        style="height: 35px;background: rgb(220, 220, 220);font-size: 15px;transition: none 0s ease 0s;margin-top: 15px;color: #4a4747;"
        (click)="resndOTP()">{{ "Resend" | translate }}</button>
    </ion-col>
    <ion-col col-sm-6>
      <button ion-button full [disabled]="paytmotp == undefined"
        style="height: 35px;background: rgb(220, 220, 220);font-size: 15px;transition: none 0s ease 0s;margin-top: 15px;color: #4a4747;"
        (click)="paytmAuthantication()">{{ "Proceed" | translate }}</button>
    </ion-col>
  </ion-row> -->
</ion-content>
